:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
.heart{
  position: relative;
  width: 100px;
  height: 125;
  transform: rotate(50deg);
  border-radius: 50px 50px 0 0;
  background-color: red;
}

.heart::before{
  position: absolute;
  content: "";
width: 100px;
height: 125px;
background-color: Ored;
border-radius: 0px 0px 00px 00px;
Left: 50px;
}